<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      시험(소리와 맞는 사진을 고르세요.)
    </ion-title>
    <ion-button color ="danger" slot="end" (click)="newExam()">새시험</ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2111</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid *ngFor = "let list of finalList;index as i">
    <ion-button color="success" (click) = "makeSound(i)">
      <ion-label size="large">{{i+1}}.</ion-label>
      <ion-icon name="megaphone-outline" size="small"></ion-icon>
    </ion-button>
    
    <ion-row>
      <ion-col *ngFor = " let item of list; index as j">
        <ion-item id =test{{i.toString()+j.toString()}}  (click) = makeSelectedItem(i,j)>
          <img  src={{item}}>
        </ion-item>
        
      </ion-col>

    </ion-row>

  </ion-grid>
  <ion-button expand="full" (click)="scoring()">제출</ion-button>
</ion-content>
