.aa {
    background-color: yellow;
    border: solid;
    border-color: white;
    border-radius: 10px;
    height: 100px;
    width: 300px;
}

.bb {
    background-color: blue;
    border: solid;
    border-color: white;
}