<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      시험(소리와 맞는 사진을 고르세요.)
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2111</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" (click)="newExam()">새시험</ion-button>
  <ion-grid *ngFor = "let list of finalList;index as i">
    <ion-button>
      <ion-label size="large">{{i}}</ion-label>
      <ion-icon name="megaphone-outline" size="small">zz</ion-icon>
      
    </ion-button>
    
    <ion-row>
      <ion-col *ngFor = " let item of list">
        <ion-item>
          <img src={{item}}>
        </ion-item>
        
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
