<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="newGame()">새게임</ion-button>
    <ion-button (click)="createPopover()">게임 크기{{MGservice.gameDimensionX}}x{{MGservice.gameDimensionY}}</ion-button>
    <ion-button>카드 뒤집은 횟수:{{totalClickCount}}</ion-button>
    <ion-button>{{time}}</ion-button>
    <ion-button slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row  *ngFor ="let row of rows">
      <ion-col *ngFor="let col of columns">
        <div *ngIf = "matchedCardXY.includes(row+col); else showCard"></div>
        <ng-template #showCard>
          <ion-card id="card" color ="primary">
            <ion-card-content  [ngClass]="{'firstClicked': firstClicked==row+col, 'secondClicked': secondClicked==row+col, 'unclicked':!currentClicked.includes(row+col)}" (click)="clickCard(row, col)"></ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col >
        <div  *ngIf = "firstPicBlank===false ; else showPic1">
        </div>
        <ng-template  #showPic1>
          <ion-img class="firstPic" src = "../../assets/animalPic/{{firstSelectedPic}}"></ion-img>
        </ng-template>
        
      </ion-col>
      <ion-col>
        <div *ngIf = "secondPicBlank===false ; else showPic2">
        </div>
        <ng-template #showPic2>
          <ion-img class="secondPic" src = "../../assets/animalPic/{{secondSelectedpic}}"></ion-img>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  
 
</ion-content>
