<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="newGame()">새게임</ion-button>
    <ion-button (click)="createPopover()">게임 크기{{MGservice.gameDimensionX}}x{{MGservice.gameDimensionY}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row  *ngFor ="let row of rows">
      <ion-col *ngFor="let col of columns">
        <ion-card color ="primary">
          <ion-card-content (click)="clickCard(row, col)"></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf = "firstPicBlank===false ; else showPic1">
        </div>
        <ng-template #showPic1>
          <ion-img src = "../../assets/animalPic/{{firstSelectedPic}}"></ion-img>
        </ng-template>
        
      </ion-col>
      <ion-col>
        <div *ngIf = "secondPicBlank===false ; else showPic2">
        </div>
        <ng-template #showPic2>
          <ion-img  src = "../../assets/animalPic/{{secondSelectedpic}}"></ion-img>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  
 
</ion-content>
