<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button (click)="selectClipPopover()">YouTube 다운받기</ion-button>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    운영체제 : {{OS}}
  </div>
  <input type="file" (change) = "firstClipSelect($event)">
  <div>
    <video controls width="420" height="345" [src] = "firstMovie | safesecurity"></video>
  </div>
  {{firstMovie}}
  <br>

  <input type="file" (change) = "secondClipSelect($event)">
  <div>
    <video controls width="420" height="345" [src] = "secondMovie | safesecurity"></video>
  </div>
  {{secondMovie}}
</ion-content>
