<ion-list>
  <div *ngFor ="let category of mgservice.categories">
    <ion-item >
      <ion-label>{{category.name}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="category.nameChecked" (ionChange) = "checkBoxEvent(category)"></ion-checkbox>
    </ion-item>
  </div>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="full" (click) ="selectAll()">모두선택</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" (click) ="unselectAll()">모두취소</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand ="full" (click) ="closePopover()" [disabled]="!closeButtonValid" >닫기</ion-button>
    </ion-col>
    
  </ion-row>
</ion-grid>
