<ion-app>
  <ion-menu side="end" menuId="first" contentId="content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>메뉴</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/login">로그인</ion-item>
          <ion-item (click)="createPlayerSelectPopover()">사람 추가&변경</ion-item>
          <ion-item>기록</ion-item>
          <ion-item>로그아웃</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet Id = "content"></ion-router-outlet>
</ion-app>
